name: Infrastructure Sync
on:
  push:
    branches: [ main ]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2
      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ./infrastructure
      - name: Terraform Init
        run: terraform init -backend=false
        working-directory: ./infrastructure
      - name: Terraform Validate
        run: terraform validate
        working-directory: ./infrastructure